#main{
    width:100%;
    height: 120vh;
    padding-top:5rem;
    background-image: url("../assets/paris.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom:15rem;
}
#main>h1{
    font-size:10rem;
}
#star-container{
    display:flex;
    gap:1rem;
    transform: translateY(-0.8rem);
}
#star-container>img{
    width:3rem;
    height: 3rem;
    opacity:0;
    position: relative;
    top:2rem;
}


#star-container>img:nth-child(1){
    transition: 0.5s ease-in-out;
    transition-delay: 0.4s;

}
#star-container>img:nth-child(2){
    transition: 0.5s ease-in-out;
    transition-delay: 0.5s;
}
#star-container>img:nth-child(3){
    transition: 0.5s ease-in-out;
    transition-delay: 0.6s;

}


#main>h2{
    font-size:1.5rem;
    margin-top:1.5rem;
}

#content{
    width: 100vw;
    height: auto;
    background-color: #22262A;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wave-container {  
    height: 0vh;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
  }
  
.wave-container::before {   
    content: "";
    width: 100%;
    height: 130px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 20vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%2322262a'/></svg>");
}


#offers{
    margin-top:5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:2rem;
    margin-left:1rem;
    margin-right: 1rem;
}

#offers>div>p{
    margin-top:2rem;
    text-align: center;
}
.offer{
    opacity:0;
    position: relative;
    top:2rem;
    transition: 0.3s ease-in-out;
}
.offer img{
    width:17rem;
    height: 17rem;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}
#offers div:nth-child(1){
    transition: 0.5s ease-in-out;
}
#offers div:nth-child(2){
    transition: 0.5s ease-in-out;
    transition-delay: 0.1s;
}
#offers div:nth-child(3){
    transition: 0.5s ease-in-out;
    transition-delay: 0.2s;
}
#offers div:nth-child(4){
    transition: 0.5s ease-in-out;
    transition-delay: 0.3s;
}

.offer img:hover{
    transform: scale(1.1);
}

#dailyoffer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:5rem;
}

#open{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#open>p{
    margin-top:2rem;
    text-align: center;
    font-size:2rem;
}

#testimonial{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#testimonial img{
    width:25rem;
    margin-top:1rem;
    border-radius: 50%;
    border:5px solid #c23137;
    opacity:0;
    position: relative;
    top:2rem;
    transition: 0.3s ease-in-out;
}


#testimonial>span{
    display: flex;
    gap:1.5rem;
}

/*tablet*/
@media (max-width:1270px){
    #main{
        background-image: url("../assets/paris2.jpg");
        background-attachment: scroll;
        height: 70rem;
        padding-top:20rem;
    }
    .wave-container::before {    
        height: 65px
    }  
    #offers>div img{
        width:20rem;
        height: 20rem;
    }
    #main>h2{
        font-size:2rem;
    }
    #main>h1{
        font-size:18vw;
    }
    #star-container>img{
        width: 5rem;
        height: 5rem;
    }
    #testimonial img{
        width:30rem;
        height: 30rem;
    }
    #testimonial p:nth-child(4){
        font-size: 3rem;
    }
    #buttonspan{
        width:80vw;
    }


}

/*telefon*/
@media (max-width:700px){
    #main{
        padding-top:0;
        padding-bottom:0;
        height: 40rem;
    }
    #main>h2{
        font-size:1rem;
    }
    #main>h1{
        font-size:4rem;
        padding-bottom:2rem;
    }
    p{
        font-size:1.2rem;
    }
    #star-container>img{
        height: 3rem;
        width: 3rem;
    }
    #offers>div img{
        height: 15rem;
        width: 15rem;
    }
    #testimonial img{
        width:17rem;
        height: 17rem;
    }
    #testimonial p:nth-child(4){
        font-size: 1.5rem;
    }
    #testimonial p{
        width: 90vw !important;
    }
    #testimonial{
        padding-bottom: 1rem;
    }
    #buttonspan{
        width:95vw;
        margin-top:0;
    }
    #open>p{
        font-size:1.5rem;
    }
    
}

